#this file excludes files we don't want as part of the repository.
**/*.aux
**/*.log
**/*.tex~
# with the ** wildcard, this should also exclude log and aux files from all subdirectories.
Thumbs.db
master.synctex.gz
master.toc
master.pdf